git+git://github.com/Rapptz/discord.py.git@async#egg=discord 
git+git://github.com/bocong/urbandictionary-py.git
beautifulsoup4
selenium>=2.44.0,<3.0.0
requests
unidecode
vcrpy
future
fake-useragent
git+git://github.com/abenassi/Google-Search-API.git
git+git://github.com/Dmunch04/api-example.git
git+git://github.com/googleapis/google-api-python-client
